.main {
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  font-family: Raleway;
  // z-index: 2;
  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: #C04848;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #480048, #C04848);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #480048, #C04848); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    filter: brightness(0.4);
  }
}
