.footer_list {
  list-style: none;
  margin: 0;
  padding: 1rem 10rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  font-family: pixeled;
}

.footer_item > a {
  text-decoration: none;
  color: white;
  transition: all .1s ease;
}

.footer_item:hover > a {
  color: #3452B5;
}
